{% extends "administrar/encabezado.html" %}
{% block titulo %}Principal{% endblock %}

{% block contenido %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Universidad Tecnologica de Morelia</h1>
    <p class="lead text-muted">La Universidad Tecnológica de Morelia es una Institución de Educación Superior Pública
      que está integrada en la Coordinación General de Universidades Tecnológicas y Politécnicas de la Subsecretaría de
      Educación Pública.
    <p>
      <a href="https://ut-morelia.edu.mx/" class="btn btn-primary my-2">Ver Sitio Oficial</a>
      <a href="https://www.facebook.com/UTMMORELIA" class="btn btn-secondary my-2">Ver Facebook</a>
    </p>
  </div>
</section>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-3 mb-4 font-italic border-bottom">
        UTMorelia
      </h3>

      <div class="blog-post">
        <h2 class="blog-post-title">Que Ofrecemos</h2>
        <p class="blog-post-meta">Agosto 30, 2021 por <a href="#">Tic</a></p>

        <p>Ofrece una formación integral de calidad centrada en el estudiante y el aprendizaje, a través del servicio
          educativo y la educación continua, mediante un Sistema de Gestión de la Calidad y su mejora continua conforme
          a la Norma ISO 9001:2008.</p>
        <hr>

        <h2>Historia</h2>
        <p>A partir de la detección de necesidades educativas en el país, en el año de 1990 la Secretaría de Educación
          Pública, emprendió un estudio sobre nuevas opciones de educación superior, en el cual se analizaron las
          experiencias de algunos países como Alemania, Estados Unidos, Francia, Gran Bretaña y Japón. Con base en dicho
          estudio, se decidió realizar un proyecto específico para definir un modelo pedagógico que permitiera crear una
          nueva opción de educación superior vinculada con el contexto socioeconómico de nuestro entorno. Como
          consecuencia de lo anterior, se concibió un sistema de educación tecnológica superior que prestara servicios
          al sector productivo de bienes y servicios, así como a la sociedad en general y que, al mismo tiempo, ampliara
          las expectativas de los jóvenes mexicanos. Este sistema se materializó en lo que hoy conocemos como
          Universidades Tecnológicas, las cuales ofrecen el Título de Técnico Superior Universitario.
        </p>
        <h3>Antecedentes</h3>
        <p>La creación de la Universidad Tecnológica de Morelia (UTM) se sustenta en el convenio de coordinación que
          firmaron la Secretaría de Educación Pública y el Gobierno del Estado de Michoacán el 14 de enero de 2000,
          documento que establece el compromiso de la creación de la UTM como Organismo Público Descentralizado de la
          Administración Pública Estatal, iniciándose de inmediato los estudios de mercado laboral, para definir las
          carreras profesionales requeridas por el sector productivo. Derivado de los estudios de viabilidad se concluyó
          como necesaria la implementación de cuatro carreras: Biotecnología, Diseño y Producción Industrial,
          Mantenimiento Industrial y Tecnologías de la Información y Comunicación Área Informática Administrativa.</p>

        <h3>Actualidad</h3>
        <p>
          La Universidad Tecnológica de Morelia ha logrado posicionarse como una institución de educación superior
          pública en el Estado de Michoacán. El Modelo Educativo y sus programas académicos, han permitido que esta
          Institución sea reconocida como un ícono de calidad y competitividad educativa.
        </p>
        <p>Actualmente la Universidad opera con una plantilla de 98 empleados:</p>
        <ul>
          <li>13 Mandos Medios y Superiores</li>
          <li>22 Profesores de Tiempo Completo Asociado C (Tutores)</li>
          <li>24 Profesores por Asignatura</li>
          <li>10 Laboratoristas</li>
          <li>29 Personal Administrativo y Secretarial.</li>
        </ul>
      </div><!-- /.blog-post -->

      <div class="blog-post">
        <h2 class="blog-post-title">Modelo Educativo</h2>

        <p>El plan de estudios de la UTM es cuatrimestral y puede dividirse en 2 etapas: Técnico Superior Universitario
          con una duración de 2 años (6 cuatrimestres) e Ingeniería para la licenciatura en 1 año y 8 meses (5
          cuatrimestres), destacando que el modelo educativo se basa 70 por ciento en práctica y 30 por ciento teoría,
          con el objetivo de permitir al estudiante reforzar su conocimiento teórico a través de las prácticas en los
          laboratorios. Todos los grupos cuentan con un Tutor que se encarga de brindar asesorías y seguimiento a las
          situaciones personales del alumnado.

          El 6º y 11º cuatrimestre de cada carrera son específicamente de "Estancia/Estadía" en el sector productivo con
          el objetivo de elaborar un Reporte Técnico (que sería el equivalente a una tesis), que es un requisito para la
          titulación, primero como Técnico Superior Universitario y finalmente como Licenciado en Ingeniería. Para esta
          etapa, el alumno contara con un asesor universitario y un asesor externo (proveniente de la empresa donde el
          alumno realice la estancia/estadía). Este sistema permite que el estudiante pueda relacionarse con una empresa
          en la cual podría laborar una vez graduado</p>
        <blockquote>
      </div><!-- /.blog-post -->

      <div class="blog-post">
        <h2 class="blog-post-title">Oferta Educativa</h2>

        <p>Técnico Superior Universitario (TSU)
          El uso del título de "Técnico Superior Universitario" corresponde a un título de nivel superior, mayor a nivel
          Bachillerato en todas sus variantes, pero menor a un título de Licenciatura. La Universidad Tecnológica de
          Morelia ofrece 6 carreras de esta modalidad, de las cuales 4 cuentan con la opción de continuar con estudios
          de Ingeniería. </p>
        <ul>
          <li> TSU en Diseño y Moda Industrial.</li>
          <li> TSU en Energías Renovables (Área Calidad y Ahorro de Energía/Área Solar/Turbo-Energía).</li>
          <li> TSU en Mantenimiento Industrial.</li>
          <li> TSU en Química Área Biotecnología.</li>
          <li> TSU en Tecnologías de la Información y Comunicación (Área Multimedia y Comercio Electrónico/Área Sistemas
            Informáticos).</li>
          <li> TSU en Mecatrónica Área Automatización.</li>
        </ul>

        <p>Licenciatura
          Una vez obtenido el respectivo título de Técnico Superior Universitario, los estudiantes de la UTM cuentan con
          la opción de titularse como ingenieros o licenciados en las siguientes carreras.</p>
        <ul>
          <li>Ingeniería en Biotecnología.</li>
          <li>Ingeniería en Diseño Textil y Moda.</li>
          <li>Ingeniería en Mantenimiento Industrial.</li>
          <li>Ingeniería en Tecnologías de la Información y Comunicación.</li>
          <li>Ingeniería en Energías Renovables.</li>
          <li>Licenciatura en Gastronomía.</li>
          <li>Ingeniería en Mecatrónica.</li>
        </ul>
      </div><!-- /.blog-post -->

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">Atras</a>
        <a class="btn btn-outline-secondary disabled" href="#">Más</a>
      </nav>

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-italic">Misión</h4>
        <p class="mb-0">Formar Profesionistas Universitarios competitivos, mediante un modelo de Educación Superior
          Tecnológica de Calidad e Innovador, con Programas Educativos basados en competencias logrando con ello
          contribuir al Desarrollo de la Sociedad y la calidad de vida del egresado.</p>
      </div>
      <div class="p-3 mb-3 bg-light rounded">
        <h4 class="font-italic">Visión</h4>
        <p class="mb-0">Somos una institución de Nivel Superior reconocida internacionalmente por sus Programas
          Educativos Certificados y Acreditados, vinculados con los sectores Productivo y Social, quienes reconocen la
          calidad de sus egresados.
        </p>
      </div>
      <div class="p-3">
        <h4 class="font-italic">Redes Sociales</h4>
        <ol class="list-unstyled">
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->
  </div><!-- /.row -->
</main><!-- /.container -->
<div class="album py-5 bg-light">
  <div class="container">
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnFeohNASdbY9yIsK5wnzwzVi3-WsDYo1WB2kX9Ce5pwGZkrRAMo_9pud3NCyz2mFau_o&usqp=CAU"
        alt="" width="72" height="72">
      <h2>Noticias</h2>
    </div>

    <div class="row">
      {% for noticia in noticias %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="{{noticia.imagen.url}}" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">{{noticia.titulo}}</p>
            <p class="card-text">{{noticia.descripcion}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"><a
                    href="{%url 'EliminarNoticia' noticia.id%}">Eliminar</a></button>
                <button type="button" class="btn btn-sm btn-outline-secondary"><a>Mas</a></button>
              </div>
              <small class="text-muted">{{noticia.updated}}</small>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}